{% extends 'base.html' %}
{% load static %}




{% block content %}
  <div id="content" style="background-color: black; background-image: url(https://s.rfi.fr/media/display/52a17782-9972-11eb-85e2-005056bf87d6/w:1280/p:16x9/Aissatou_Champs_Mais%20ok.jpg);">
    <h1 class="text-white col-12 col-lg-8  " style="margin-top: 210px; margin-left: 50px;   font-size: 50px;font-family: Poppins-Bold;">Avec Tool Wi, votre rentabilité agricole est assurée !</h1>
        <h6 class=" col-8 " style="width: 600px;margin-left: 50px;font-family: Ysabeau-Light;color: lightgray;margin-top: 10px;">Our stitching algorithms, cutting-edge inpainting techniques, and precise registration capabilities make us the go-to source for all your image editing requirements.</h6> 
        
  </div>
{% endblock %}

